In [13]:
import gpxpy
import pandas as pd

'''
Inspired by gpxpy post here: https://www.gpxz.io/blog/gpx-file-to-pandas
Data from https://academictorrents.com/details/af55533bf8229c3bff260b77a652f8b8058f6c9e
'''

# Load gpx.
gpx_path = 'data/Sport2/Athlete1/1.gpx'
with open(gpx_path) as f:
    gpx = gpxpy.parse(f)

# for filename in os.listdir('data/Sport2/Athlete1'):
points = []
for segment in gpx.tracks[0].segments:
    for p in segment.points:
        points.append({
            'time': p.time,
            'latitude': p.latitude,
            'longitude': p.longitude,
            'elevation': p.elevation,
        })
df = pd.DataFrame.from_records(points)
df

                          time   latitude   longitude  elevation
0    2014-04-25 00:46:14+00:00 -16.748264  145.664346  30.799999
1    2014-04-25 00:46:18+00:00 -16.748228  145.664131  31.400000
2    2014-04-25 00:46:19+00:00 -16.748218  145.664077  31.799999
3    2014-04-25 00:46:20+00:00 -16.748207  145.664028  32.200001
4    2014-04-25 00:46:21+00:00 -16.748198  145.663979  32.599998
...                        ...        ...         ...        ...
1144 2014-04-25 01:38:31+00:00 -16.747068  145.669296  24.000000
1145 2014-04-25 01:38:34+00:00 -16.747076  145.669466  24.000000
1146 2014-04-25 01:38:37+00:00 -16.747118  145.669592  24.000000
1147 2014-04-25 01:38:41+00:00 -16.747229  145.669690  24.000000
1148 2014-04-25 01:38:46+00:00 -16.747385  145.669685  24.000000

[1149 rows x 4 columns]